
/*Estos estilos son para que el boton registrarse/Inciar sesion de la parte inferior parezcan un link*/
.none {
	border-style: none;
	background-color: Transparent;
}

.none:hover {
	text-decoration: underline;
}

.none:focus,
.none:active {
	outline: none;
}