.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	border-radius: .28571429rem;
    font-size: 1.4571429em;
    font-weight: 700;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: 'black';
    display: inline-block;
    max-width: 15rem;
    margin-left: auto;
    margin-right: auto;
	padding: .78571429em 1.5em .78571429em
}

.inputfile:focus + label,
.inputfile + label:hover {
    cursor: pointer;
    text-decoration: underline;
}